*{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.table-headings{
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.table-content{
  font-size: 20px;
  padding: 20px;
}

.form-row{
  padding: 20px;
}

.nav-bar-text{
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}